@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --clr-primary: hsl(158, 36%, 37%);
    --clr-bg: hsl(30, 38%, 92%);
    --clr-head: hsl(212, 21%, 14%);
    --clr-text: hsl(228, 12%, 48%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-bg);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.card_container{
    margin: 4em;
    display: flex;
    border-radius: 0.5em;
    background: #fff;
    max-width: 42em;
    overflow: hidden;
}

.left img{
    width: 18em;
    transform: scale(1.05);
}

.right {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1,h2{
    font-family: 'Fraunces', serif;
}

.right h3{
    font-size: 1em;
    font-weight: 500;
    color: var(--clr-text);
}

.right h1{
    color: var(--clr-head)
}

.right p{
    color: var(--clr-text);
}

.right .price{
    display: flex;
    align-items: center;
    gap: 2em;
}

.right h2{
    font-size: 2em;
    color: var(--clr-primary);
}

.right small {
    text-decoration: line-through;
    color: var(--clr-text);
}

button {
    background: var(--clr-primary);
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-weight: 700;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

@media (max-width:768px) {
    .card_container{
        flex-direction: column;
    }
    .left{
        height: 50vmin;
        overflow: hidden;
        position: relative;
    }
    .left img{
        position: absolute;
        width: 100%;
        top: -40%;
    }
}

/* Done */